<section id="edit-employee">
  <%= render  "form", company: @company, employee: @employee %>
 </section>



<style>

    #edit-employee {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      padding: 2rem;
    }


  </style>
