<section id="privacy_policy">
  <%= render "privacy_policy" %>

</section>


<style>
  #privacy_policy {
      max-width: 800px;
      margin: 0 auto;
      padding: 20px;
  }

  #privacy_policy header {
      text-align: center;
  }

   #privacy_policy main {
    font-size: 1.1em;
  }

  #privacy_policy h2 {
    margin-top: 20px;
  }

  #privacy_policy ul {
    margin-left: 20px;
  }

  #privacy_policy a {
    color: #007bff;
  }

  #privacy_policy a:hover {
    text-decoration: underline;
  }

</style>
