<section id="new-company">
  <h1>Crear Nueva Compañía</h1>
 <%= render  "form", company: @company %>
</section>


<style>

  #new-company {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 2rem;
  }


</style>
