<section id="edit-service-payments">
  <%= render "form", company: @company, contractors: @contractors, contractor: @contractor, service_payment: @service_payment %>

</section>


<style>

  #edit-service-payments {
    display: flex;
    flex-direction: column;

    gap: 20px;
    padding: 2rem;

    align-items: center;
  }




</style>
