<section id="new-service-payments">
  <%= render "form", company: @company, contractors: @contractors, contractor: @contractor, service_payment: @service_payment %>
</section>


<style>

  #new-service-payments {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 2rem;
    align-items: center;
  }




</style>
