<section id="edit-parameter">
  <%= render "form", company: @company, parameter: @parameter %>
</section>

<style>
  #edit-parameter{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 2rem;
  }
</style>
